include ../header

.container
  h1 Відновлення пароля
  if error
    p(style="color:red")= error
  if message
    p(style="color:green")= message
  form(method="POST")
    div
        input.form-control.mb-3(type="email", name="email", placeholder="Ваш email", required)
    div
        button(type="submit" class="btn btn-primary") Надіслати посилання