include ../header

.container
    
    h1 Login
    if error
      p(style="color:red")= error

    p 
      a.btn.btn-primary(href="/auth/forgot-password") Забули пароль?

    form(method="POST" action="/auth/login")
      div
        input(type="text" class="form-control mb-2" name="email" placeholder="Email" required)
      div
        input(type="password" class="form-control mb-2" name="password" placeholder="Пароль" required)
      div
        button(type="submit" class="btn btn-primary") Увійти
