include ../header

.container

    h1 Registration
    if error
        p(style="color:red")= error

    form.d-grid.gap-3(method="POST" action="/auth/registration")
        input.form-control(type="text" name="email" placeholder="Email користувача" required)
        input.form-control(type="text" name="username" placeholder="Iм'я користувача" required)
        input.form-control(type="password" name="password" placeholder="Пароль" required)
        div.d-flex.gap-3.flex-wrap
            label.form-label
                input.form-check-input(type="radio" name="role" value="admin")
                | Admin
            label.form-label
                input.form-check-input(type="radio" name="role" value="staff")
                | Staff
            label.form-label
                input.form-check-input(type="radio" name="role" value="manager")
                | Manager
            label.form-label
                input.form-check-input(type="radio" name="role" value="viewer" checked)
                | Viewer
        div
            button(type="submit" class="btn btn-primary") Send
